<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rhombus</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <link href="https://example.com/" rel="canonical" />
  <!-- preferred URL - change for you site -->

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="./assets/owlcarousel/assets/owl.carousel.min.css" /> -->
  <link href="./assets/css/main.css" rel="stylesheet" />
  <link href="./assets/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <section class="section-panel product-section">
    <main class="main py-5">
      <div class="container-section">
        <div class="row">
          <div class="col-md-8 h-100">
            <div class="row p-0">
              <div class="col-md-6">
                <div class="product-card">
                  <div class="header-card">
                    <img src="./assets/images/black-logo.png" alt="Logo">
                    <h6>Customer Experience</h6>
                    <img src="./assets/images/customer-experience.png" alt="" class="card-image w-90 h-auto">
                  </div>
                  <div class="body-card">
                    <div class="form-check">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Select
                      </label>
                      <input class="form-check-input d-block" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                    <h5>Customer Experience Features: </h5>
                    <ul>
                      <li>Can Create & Send Surveys</li>
                      <li>Initiative Management</li>
                      <li>Complaint Management</li>
                      <li>Can Collect Data From Hashboard CRM, Project Management & Finance</li>
                      <li>Customer Profile</li>
                      <li>Design Customer Journey</li>
                      <li>Design User Flow</li>
                      <li>Design Customer Persona</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="product-card">
                  <div class="header-card">
                    <img src="./assets/images/black-logo.png" alt="Logo">
                    <h6>Project Management</h6>
                    <img src="./assets/images/project-management.png" alt="" class="card-image">
                  </div>
                  <div class="body-card">
                    <div class="form-check">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Select
                      </label>
                      <input class="form-check-input d-block" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                    <h5>Project Management Features:</h5>
                    <ul>
                      <li>Measure Your Project Performance</li>
                      <li>Live Dashboard</li>
                      <li>Create & Document Project COCs</li>
                      <li>Build Project Revenue Plan</li>
                      <li>Follow-up With Your Project Risks & Issues</li>
                      <li>Share Yor Project Report</li>
                      <li>360 View On Customer Profiles</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="product-card">
                  <div class="header-card">
                    <img src="./assets/images/black-logo.png" alt="Logo">
                    <h6>Social Media</h6>
                    <img src="./assets/images/social-media.png" alt="" class="card-image">
                  </div>
                  <div class="body-card">
                    <div class="form-check">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Select
                      </label>
                      <input class="form-check-input d-block" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                    <h5>Social Media Features:</h5>
                    <ul>
                      <li>One Time Post To All Social Media Accounts</li>
                      <li>Schedule Post</li>
                      <li>Post Insight (Engagement Rate, Link Click, Impression ...etc.”)</li>
                      <li>Chatbot</li>
                      <li>Trend Analysis</li>
                      <li>List Of Social Media Influencers</li>
                      <li>Support Twitter, Facebook, LinkedIn, Instagram, YouTube, TikTok & WhatsApp</li>
                      <li>Benchmarking Reports</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="product-card">
                  <div class="header-card">
                    <img src="./assets/images/black-logo.png" alt="Logo">
                    <h6>Finance</h6>
                    <img src="./assets/images/finace-image.png" alt="" class="card-image">
                  </div>
                  <div class="body-card">
                    <div class="form-check">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Select
                      </label>
                      <input class="form-check-input d-block" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                    <h5>Finance Features:</h5>
                    <ul>
                      <li>Create Invoices Using Templates</li>
                      <li>Push invoices and any associated notes to the ZATCA portal for authentication</li>
                      <li>Create customer & Supplier profile</li>
                      <li>Report & Insight</li>
                      <li>Customize Dashboard</li>
                      <li>Send Invoices by WhatsApp, Email and SMS</li>
                      <li>Fully Integrated with Hashboard project management & CRM</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="product-card">
                  <div class="header-card">
                    <img src="./assets/images/black-logo.png" alt="Logo">
                    <h6>CRM</h6>
                    <img src="./assets/images/crm-image.png" alt="" class="card-image">
                  </div>
                  <div class="body-card">
                    <div class="form-check">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Select
                      </label>
                      <input class="form-check-input d-block" type="checkbox" name="flexRadioDefault" id="flexRadioDefault1">
                    </div>
                    <h5>CRM Features:</h5>
                    <ul>
                      <li>Customize Stages</li>
                      <li>Create Customer Profile</li>
                      <li>Integrated With Hashboard Finance</li>
                      <li>Transfer Deal & Documents To Hashboard Project Management</li>
                      <li>Customize Dashboard & Reports</li>
                      <li>Revenue Analysis</li>
                      <li>Integrated With Hashboard Customer Experience</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <button class="btn btn-danger ms-3">Coming soon</button>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="payment-card">
              <div class="header-card">
                <img src="./assets/images/logo.png" alt="Logo">
              </div>
              <div class="body-card">
                <div class="prof-table table tablepanel">
                  <table class="mt-0">
                    <thead>
                      <tr class="bg-light-gray">
                        <th class="ps-5">
                          <span class="check-tasks">
                            <div class="checkbox relative">
                              <label class="absolute">
                                <input type="checkbox" data-ng-model="example.check">
                                <span class="box"></span>
                              </label>
                            </div>
                          </span>
                          Product</th>
                        <th>Plan</th>
                        <th>Price</th>
                        <th>Total Users</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="border-bottom border-2">
                        <td data-label="No" class="ps-5">
                          <span class="check-tasks">
                            <div class="checkbox relative">
                              <label class="absolute">
                                <input type="checkbox" data-ng-model="example.check">
                                <span class="box"></span>
                              </label>
                            </div>
                          </span>
                          Customer Experience</td>
                        <td data-label="Leads">
                          <select name="Role" id="Role" class="d-block w-100 border border-2 rounded px-4 py-2">
                            <option value="Manager">Monthly Plan</option>
                            <option value="Urdu">Year Plan</option>
                          </select>
                        </td>
                        <td data-label="Deals">$19</td>
                        <td data-label="Tasks">
                          <input type="number" name="name" id="name" class="d-block w-100 border border-2 rounded px-4 py-2">
                        </td>
                      </tr>
                      <tr class="border-bottom border-2">
                        <td data-label="No" class="ps-5">
                          <span class="check-tasks">
                            <div class="checkbox relative">
                              <label class="absolute">
                                <input type="checkbox" data-ng-model="example.check">
                                <span class="box"></span>
                              </label>
                            </div>
                          </span>
                          CRM</td>
                        <td data-label="Leads">
                          <select name="Role" id="Role" class="d-block w-100 border border-2 rounded px-4 py-2">
                            <option value="Manager">Monthly Plan</option>
                            <option value="Urdu">Year Plan</option>
                          </select>
                        </td>
                        <td data-label="Deals">$19</td>
                        <td data-label="Tasks">
                          <input type="number" name="name" id="name" class="d-block w-100 border border-2 rounded px-4 py-2">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <p class="text-light-gray">Total Excluding VAT:</p>
                  <h6 class="text-dark fw-bold">$19</h6>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <p class="text-light-gray">Discount</p>
                  <h6 class="text-dark fw-bold">$0</h6>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <p class="text-light-gray">Total</p>
                  <h6 class="text-dark fw-bold">$19</h6>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <p class="text-light-gray">Total VAT %15</p>
                  <h6 class="text-dark fw-bold">$2.85</h6>
                </div>
                <div class="d-flex align-items-center justify-content-between mt-2">
                  <p class="text-light-gray">Total Amount</p>
                  <h6 class="text-dark fw-bold">$21.85</h6>
                </div>
                <a href="" class="text-fill mt-2">Have a Coupon ?</a>
                <p class="text-light-gray mt-2">Coupon: blackfriday2022-$29.50 <a href="" class="text-decoration-none text-fill ms-3">[Remove]</a></p>
              </div>
            </div>
            <div class="delivery-card mt-3 p-3">
              <h2 class="fw-bold">Choose Payment Method</h2>
              <button type="button" class="btn ouline-white border border-2 w-100 mt-3">Add</button>
              <div class="d-flex align-items-center mt-3 card-payment">
                <img src="./assets/images/visa.png" alt="">
                <img src="./assets/images/amex.png" alt="">
                <img src="./assets/images/mastercard.png" alt="">
                <img src="./assets/images/jcb.png" alt="">
                <img src="./assets/images/5-payment.png" alt="">
              </div>
              <div class="row">
                <div class="col-8">
                  <label for="role" class="fw-bold mt-3 mb-2">Name on card</label>
                  <input type="text" name="solutions" id="solutions" placeholder="Olivia Rhye" class="d-block w-100 border border-2 rounded px-2 py-2">
                  <label for="role" class="fw-bold mt-3 mb-2">Card number</label>
                  <input type="number" name="solutions" id="solutions" class="d-block w-100 border border-2 rounded px-2 py-2">
                </div>
                <div class="col-4">
                  <label for="role" class="fw-bold mt-3 mb-2">Expiry</label>
                  <input type="date" name="solutions" id="solutions" placeholder="Olivia Rhye" class="d-block w-100 border border-2 rounded px-2 py-2">
                  <label for="role" class="fw-bold mt-3 mb-2">CVV</label>
                  <input type="number" name="solutions" id="solutions" class="d-block w-100 border border-2 rounded px-2 py-2">
                </div>
              </div>
              <div class="d-flex align-items-center justify-content-end mt-3">
                <button class="btn border border-2">Cancel</button>
                <button class="btn btn-fill ms-3">Pay</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </section>

  <!-- JavaScript
================================================== -->
  <script src="./assets/js/jquery-3.3.1.min.js"></script>
  <script src="./assets/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./assets/js/main.js"></script>
</body>

</html>