<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rhombus</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <link href="https://example.com/" rel="canonical" />
  <!-- preferred URL - change for you site -->

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="./assets/owlcarousel/assets/owl.carousel.min.css" /> -->
  <link href="./assets/css/main.css" rel="stylesheet" />
  <link href="./assets/css/responsive.css" rel="stylesheet" />
</head>

<body>
  <section class="section-panel">
    <div class="admin-wrapper">
      <aside class="aside">
        <div class="left-top">
          <div class="sitepanel-toggler">
            <div class="close">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="logo">
              <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt=""></a>
            </div>
          </div>
          <ul>
            <li><a href="./fm-index.html" class="panel_link active_panel"><i class="icon icon-overviwe"></i>
                <span>Dashboard</span></a></li>
            <li class="nav-item panel-dropdown">
              <a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Business-Dropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon icon-sales-information"></i><span>Sales Page</span>
              </a>
              <ul class="Business-Dropdown" aria-labelledby="Transactions-Dropdown">
                <li><a class="dropdown-item panel_link " href="./fm-quote-history.html"><i
                      class="icon icon-sales-information"></i>
                    <span>Quotations</span></a></li>
                <li><a class="dropdown-item panel_link" href="./fm-sales-order.html"><i
                      class="icon icon-sales-information"></i> <span>Sales
                      Orders</span></a></li>
                <li><a class="dropdown-item panel_link" href="./fm-invoices.html"><i
                      class="icon icon-sales-information"></i>
                    <span>Invoices</span></a></li>
                <li><a class="dropdown-item panel_link" href="./fm-credit-note.html"><i
                      class="icon icon-sales-information"></i>
                    <span>Credit Note</span></a></li>
              </ul>
            </li>
            <li class="nav-item panel-dropdown">
              <a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Business-Dropdown-1"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon icon-project-supplies"></i><span>Purchases</span>
              </a>
              <ul class="Business-Dropdown-1" aria-labelledby="Transactions-Dropdown">
                <li><a class="dropdown-item panel_link " href="./fm-purchase-orders.html"><i
                      class="icon icon-project-supplies"></i>
                    <span>Purchase Orders</span></a></li>
                <li><a class="dropdown-item panel_link" href="./fm-bills.html"><i
                      class="icon icon-project-supplies"></i> <span>Bills</span></a></li>
                <li><a class="dropdown-item panel_link" href="./fm-debit-note.html"><i
                      class="icon icon-project-supplies"></i>
                    <span>Debit</span></a></li>
                    <li><a class="dropdown-item panel_link" href="./fm-expenses.html"><i
                      class="icon icon-project-supplies"></i>
                    <span>Expenses</span></a></li>
              </ul>
            </li>
            <li class="nav-item panel-dropdown">
              <a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Sales-Dropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon icon-expeness"></i><span>Payrolls</span>
              </a>
              <ul class="Sales-Dropdown" aria-labelledby="Transactions-Dropdown">
                <li><a class="dropdown-item panel_link " href="./fm-employees.html"><i class="icon icon-expeness"></i>
                    <span>Employees</span></a></li>
                <li><a class="dropdown-item panel_link" href="./fm-payrolls.html"><i class="icon icon-expeness"></i>
                    <span>Payrolls</span></a></li>
              </ul>
            </li>
            <li class="nav-item panel-dropdown">
              <a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Transactions-Dropdown"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon icon-expenses"></i><span>Customers & vendors</span>
              </a>
              <ul class="transactions-dropdown" aria-labelledby="Transactions-Dropdown">
                <li><a class="dropdown-item panel_link " href="./fm-customers-project.html"><i
                      class="icon icon-expenses"></i>
                    <span>Customers & projects</span></a></li>
                <li><a class="dropdown-item panel_link" href="./fm-vendors.html"><i class="icon icon-expenses"></i>
                    <span>Vendors</span></a></li>
              </ul>
            </li>
            <li class="nav-item panel-dropdown">
              <a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Setting-Dropdown-1"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon icon-project-supplies"></i><span>Products & Services</span>
              </a>
              <ul class="Setting-Dropdown-1" aria-labelledby="Transactions-Dropdown">
                <li><a class="dropdown-item panel_link " href="./fm-products-services.html"><i
                      class="icon icon-project-supplies"></i>
                    <span>Products & Services</span></a></li>
              </ul>
            </li>
            <li class="nav-item panel-dropdown">
              <a class="dropdown-btn nav-link dropdown-toggle panel_link" href="#" id="Setting-Dropdown-3"
                role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon icon-project-supplies"></i><span>Account</span>
              </a>
              <ul class="Setting-Dropdown-3" aria-labelledby="Transactions-Dropdown">
                <li><a class="dropdown-item panel_link" href="./fm-account.html"><i
                      class="icon icon-project-supplies"></i>
                    <span>Chart of Accounts</span></a></li>
                    <li><a class="dropdown-item panel_link " href="./fm-manual-journal.html"><i
                      class="icon icon-project-supplies"></i>
                    <span>Manual Journal</span></a></li>
              </ul>
            </li>
            <li><a href="./fm-transferred-projects.html" class="panel_link"><i
                  class="icon icon-transferred-projects"></i>
                <span>Transferred Document</span></a></li>
            <li><a href="./fm-report.html" class="panel_link"><i class="icon icon-reports"></i>
                <span>Reports</span></a></li>
            <li class="nav-item panel-dropdown">
              <a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Setting-Dropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon icon-settings"></i> <span>Setting</span>
              </a>
              <ul class="Setting-Dropdown" aria-labelledby="Transactions-Dropdown">
                <li><a class="dropdown-item panel_link " href="" data-bs-toggle="modal" data-bs-target="#SettingForm"><i
                      class="icon icon-settings"></i> <span>Account</span></a></li>
                <li><a class="dropdown-item panel_link " href="./fm-setting-general.html"><i
                      class="icon icon-settings"></i> <span>General</span></a></li>

              </ul>
            </li>
            <li><a href="./new-index.html" class="panel_link "><span>New Dashboard</span></a></li>
            <div class="open-button">
              <i class="icon icon-right-arrow"></i>
            </div>
          </ul>
        </div>
      </aside>
      <main class="main">
        <div class="top-nav bg-white justify-content-between">
          <div class="sitepanel-toggler for-mobile">
            <div class="close">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="logo">
              <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt=""></a>
            </div>
          </div>
          <div class="search-form d-none d-md-block">
            <form action="">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Search..." aria-label="Search">
                <i class="icon icon-search-form"></i>
              </div>
            </form>
          </div>
          <div class="about-profile">
            <div class="d-none d-md-flex align-items-center">
              <button type="button" class="btn ouline-white" data-bs-toggle="modal" data-bs-target="#userForm"><i
                  class="icon icon-plus"></i> Add</button>
              <a href=""><i class="icon icon-question"></i></a>
              <div class="dropdown select-dropdown admin-notification">
                <button class="btn dropdown-toggle text-dark border-0 m-0" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false" style="min-width: 50px !important;">
                  <i class="icon icon-notification"></i>
                </button>
                <ul class="dropdown-menu min-w-320" aria-labelledby="dropdownMenuButton1">
                  <div class="p-2 d-flex align-items-center justify-content-between border-bottom">
                    <p>Notification</p>
                    <a href="./fm-account-activities.html" class="text-decoration-none text-fill fw-600">See All</a>
                  </div>
                  <div class="p-2 border-bottom">
                    <p class="text-light-gray"><b class="text-dark">Edit your information in a swipe</b> Sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                    <p class="text-light-gray mt-3">12 May, 2025</p>
                  </div>
                  <div class="p-2 border-bottom">
                    <p class="text-light-gray"><b class="text-dark">Edit your information in a swipe</b> Sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                    <p class="text-light-gray mt-3">12 May, 2025</p>
                  </div>
                  <div class="p-2">
                    <p class="text-light-gray"><b class="text-dark">Edit your information in a swipe</b> Sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                    <p class="text-light-gray mt-3">12 May, 2025</p>
                  </div>
                </ul>
              </div>
            </div>
            <div class="dropdown select-dropdown admin-profile">
              <button class="btn dropdown-toggle text-dark w-100 border-0 d-flex align-center ms-md-4" type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="profile-img me-2">
                  <img class="img-fluid" src="./assets/images/profile.png" alt="">
                </div>
                <div class="admin-info d-none d-md-block">
                  <h5 class="">Katie Pena</h5>
                  <h6 class="">Admin</h6>
                </div>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="profile-images text-center">
                  <img src="./assets/images/profile-2.png" alt="">
                  <h6 class="text-small mt-2">Allen Moreno</h6>
                  <p class="text-small text-light-gray">allenmoreno@gmail.com</p>
                </div>
                <li><a class="dropdown-item mt-3" href="./fm-edit-profile.html"><i class="icon icon-user-profile"></i>
                    My Profile</a></li>
                <li><a class="dropdown-item" href="./fm-profile-activities.html"><i class="icon icon-calender-2"></i>
                    Actions</a></li>
                <li><a class="dropdown-item" href="#"><i class="icon icon-question me-1"></i> FAQ</a></li>
                <li><a class="dropdown-item" href="#"><i class="icon icon-power-off me-1"></i> Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="page-main-title">
            <h1>Profile</h1>
          </div>
          <div class="row">
            <div class="col-md-11 mx-auto mt-4">
              <div class="main-profile-area border-radius bg-white">
                <div class="cover-area">
                  <img src="./assets/images/cover.jpg" alt="" class="img-fluid">
                </div>
                <div class="profile-area border-bottom pb-4 flex-colume-sm">
                  <div class="existing-profile ">
                    <div class="people-story align-items-md-end">
                      <a href="#"><img src="./assets/images/profile-pic.jpg" class="img-fluid" alt=""></a>
                      <div class="mt-4">
                        <h3 class="fw-600">Katie Pena</h3>
                        <div class="peopl-follwing-area d-flex mt-3">
                          <a href="" class="me-md-4 me-2 text-decoration-none text-darken">
                            <h6 class="fw-600">1.077<span class="text-light-gray ms-2 fw-normal">Post</span>
                            </h6>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="profile-tabs-area mt-3">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active" id="Reports-tab" data-bs-toggle="tab" data-bs-target="#Reports"
                        type="button" role="tab" aria-controls="Reports" aria-selected="false">Reports</button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="Tasks-tab" data-bs-toggle="tab" data-bs-target="#Tasks" type="button"
                        role="tab" aria-controls="Tasks" aria-selected="false">Tasks</button>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12 d-flex align-items-center justify-content-end flex-colume-sm">
                  <div class="dropdown select-dropdown me-md-4">
                    <button class="btn dropdown-toggle pe-5 w-100 bg-white border-0" type="button"
                      id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Filter
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Action</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                  </div>
                  <button type="button" class="btn ouline-white mt-3 wsm-100 mt-md-0"><i
                      class="icon icon-download me-2"></i>Download</button>
                </div>
                <div class="tab-content mt-3">
                  <div class="tab-pane active" id="Reports" role="tabpanel" aria-labelledby="Reports-tab">
                    <div class="row">
                      <div class="col-md-3 pe-0">
                        <div class="sm-box h-100 bg-white">
                          <div class="sm-box-desc d-flex justify-content-between align-items-center mb-2">
                            <span>
                              <h3 class="fw-bold">2,104</h3>
                            </span>
                            <span class=""><i class="icon icon-cart-box"></i></span>
                          </div>
                          <p class="text-light-gray">Twitter Followers</p>
                          <i class="icon icon-sm-box-icon mt-3 bg-cover"></i>
                        </div>
                      </div>
                      <div class="col-md-3 mt-3 mt-md-0 pe-0">
                        <div class="sm-box h-100 bg-white">
                          <div class="sm-box-desc d-flex justify-content-between align-items-center mb-2">
                            <span>
                              <h3 class="fw-bold">211</h3>
                            </span>
                            <span class=""><i class="icon icon-avarage-incom"></i></span>
                          </div>
                          <p class="text-light-gray">Facebook Followers </p>
                          <i class="icon icon-sm-box-icon mt-3 bg-cover"></i>
                        </div>
                      </div>
                      <div class="col-md-3 mt-3 mt-md-0  pe-0">
                        <div class="sm-box h-100 bg-white">
                          <div class="sm-box-desc d-flex justify-content-between align-items-center mb-2">
                            <span>
                              <h3 class="fw-bold">1,553</h3>
                            </span>
                            <span class=""><i class="icon icon-conversations"></i></span>
                          </div>
                          <p class="text-light-gray">Instagram Followers</p>
                          <i class="icon icon-sm-box-icon mt-3 bg-cover"></i>
                        </div>
                      </div>
                      <div class="col-md-3 mt-3 mt-md-0 pe-0">
                        <div class="sm-box h-100 bg-white">
                          <div class="sm-box-desc d-flex justify-content-between align-items-center mb-2">
                            <span>
                              <h3 class="fw-bold">19.1%</h3>
                            </span>
                            <span class=""><i class="icon icon-right-arrow-yellow"></i></span>
                          </div>
                          <p class="text-light-gray">YouTube Followers </p>
                          <i class="icon icon-sm-box-icon mt-3 bg-cover"></i>
                        </div>
                      </div>
                      <div class="col-md-6 mt-3 pe-0">
                        <div class="chart">
                          <div class="chart-box h-100 d-flex justify-content-between flex-column">
                            <div class="chart-head d-md-flex justify-content-between align-items-center">
                              <div class="chart-title">
                                <h5 class="fw-600">Avg Engagement Per Pst</h5>
                              </div>
                              <div class="d-flex justify-content-between flex-column">
                                <div class="d-flex align-items-start justify-content-md-end  mt-3 mt-md-0 mb-md-0 mb-3">
                                  <p class="fw-500 me-3"><span class="dot-shape bg-purple"></span> Link
                                  </p>
                                  <p class="fw-500"><span class="dot-shape bg-sky-blue"></span> like,
                                    comment
                                  </p>
                                  <div class="btn-group">
                                    <button type="button" class="btn border-none outline-none" data-bs-toggle="dropdown"
                                      aria-expanded="false">
                                      <div class="dots">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                      </div>
                                    </button>
                                    <ul class="dropdown-menu" style="">
                                      <li><a class="dropdown-item" href="#"><i class="icon icon-edit"></i>
                                          Edit</a></li>
                                      <li><a class="dropdown-item" href="#"><i class="icon icon-delete"></i>
                                          Delete</a></li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="chart-content d-flex justify-content-between">
                              <div class="chart-grap d-flex align-items-end">
                                <div>
                                  <canvas id="commentChart" class="wsm-100"
                                    style="display: block; box-sizing: border-box; height: 160px; width: 450px;"
                                    width="450" height="160"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 mt-3 pe-0">
                        <div class="chart">
                          <div class="chart-box h-100 d-flex justify-content-between flex-column">
                            <div class="chart-head mb-4 d-flex align-items-center justify-content-between">
                              <div class="chart-title">
                                <h5 class="fw-600">New Followers</h5>
                              </div>
                              <div class="btn-group">
                                <button type="button" class="btn border-none outline-none" data-bs-toggle="dropdown"
                                  aria-expanded="false">
                                  <div class="dots">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                  </div>
                                </button>
                                <ul class="dropdown-menu" style="">
                                  <li><a class="dropdown-item" href="#"><i class="icon icon-edit"></i>
                                      Edit</a></li>
                                  <li><a class="dropdown-item" href="#"><i class="icon icon-delete"></i>
                                      Delete</a></li>
                                </ul>
                              </div>
                            </div>
                            <div class="chart-content">
                              <div class="chart-grap">
                                <div>
                                  <canvas id="followersChart" class="wsm-100"
                                    style="display: block; box-sizing: border-box; height: 220px; width: 453px;"
                                    width="453" height="220"></canvas>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane" id="Tasks" role="tabpanel" aria-labelledby="Tasks-tab">
                    <div class="d-flex align-items-center justify-content-between mb-3 flex-colume-sm">
                      <div class="d-flex align-items-center flex-colume-sm">
                        <div class="dropdown select-dropdown">
                          <button class="btn btn-secondary dropdown-toggle pe-5 bg-transparent border-0" type="button"
                            id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon icon-filter"></i> sort: <b class="text-dark">a-z</b>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </div>
                        <div class="dropdown select-dropdown mt-3 ms-3">
                          <button class="btn btn-secondary dropdown-toggle pe-5 bg-transparent border-0 text-uppercase"
                            type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="icon icon-info"></i> project: <b class="text-dark">spotify website deign</b>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                          </ul>
                        </div>
                      </div>
                      <a href="#" class="text-decoration-none text-uppercase fw-bold mt-3" data-bs-toggle="modal"
                        data-bs-target="#addTaskModal">+ new task</a>
                    </div>
                    <div class="bg-white rounded p-3">
                      <div class="row border-bottom border-2 py-3 cursor-pointer" data-bs-toggle="modal"
                        data-bs-target="#taskOverview">
                        <div class="col-md-5">
                          <div class="ps-5">
                            <span class="check-tasks">
                              <div class="checkbox relative">
                                <label class="absolute">
                                  <input type="checkbox" data-ng-model="example.check">
                                  <span class="box"></span>
                                </label>
                              </div>
                            </span>
                            <h6 class="fw-600 pt-1">Template description</h6>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="d-flex align-items-center justify-content-end">
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-list-check me-2"></i>
                              <p class="text-light-gray">2/3</p>
                            </span>
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-two-message me-2"></i>
                              <p class="text-light-gray">5</p>
                            </span>
                            <button class="btn-rejected px-3 py-2 rounded">Sketch</button>
                          </div>
                        </div>
                      </div>
                      <div class="row border-bottom border-2 py-3 cursor-pointer" data-bs-toggle="modal"
                        data-bs-target="#taskOverview">
                        <div class="col-md-6">
                          <div class="ps-5">
                            <span class="check-tasks">
                              <div class="checkbox relative">
                                <label class="absolute">
                                  <input type="checkbox" data-ng-model="example.check">
                                  <span class="box"></span>
                                </label>
                              </div>
                            </span>
                            <h6 class="fw-600 pt-1">Budget and Contract</h6>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="d-flex align-items-center justify-content-end">
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-list-check me-2"></i>
                              <p class="text-light-gray">2/3</p>
                            </span>
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-two-message me-2"></i>
                              <p class="text-light-gray">5</p>
                            </span>
                            <button class="btn-rejected px-3 py-2 rounded">Sketch</button>
                          </div>
                        </div>
                      </div>
                      <div class="row border-bottom border-2 py-3 cursor-pointer" data-bs-toggle="modal"
                        data-bs-target="#taskOverview">
                        <div class="col-md-6">
                          <div class="ps-5">
                            <span class="check-tasks">
                              <div class="checkbox relative">
                                <label class="absolute">
                                  <input type="checkbox" data-ng-model="example.check">
                                  <span class="box"></span>
                                </label>
                              </div>
                            </span>
                            <h6 class="fw-600 pt-1">Search for a UI kit</h6>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="d-flex align-items-center justify-content-end">
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-list-check me-2"></i>
                              <p class="text-light-gray">2/3</p>
                            </span>
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-two-message me-2"></i>
                              <p class="text-light-gray">5</p>
                            </span>
                            <button class="btn-approved px-3 py-2 rounded">Spotify</button>
                          </div>
                        </div>
                      </div>
                      <div class="row border-bottom border-2 py-3 cursor-pointer" data-bs-toggle="modal"
                        data-bs-target="#taskOverview">
                        <div class="col-md-6">
                          <div class="ps-5">
                            <span class="check-tasks">
                              <div class="checkbox relative">
                                <label class="absolute">
                                  <input type="checkbox" data-ng-model="example.check">
                                  <span class="box"></span>
                                </label>
                              </div>
                            </span>
                            <h6 class="fw-600 pt-1">Design new Dashboard</h6>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="d-flex align-items-center justify-content-end">
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-list-check me-2"></i>
                              <p class="text-light-gray">2/3</p>
                            </span>
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-two-message me-2"></i>
                              <p class="text-light-gray">5</p>
                            </span>
                            <button class="btn-approved px-3 py-2 rounded">Spotify</button>
                          </div>
                        </div>
                      </div>
                      <div class="row border-bottom border-2 py-3 cursor-pointer" data-bs-toggle="modal"
                        data-bs-target="#taskOverview">
                        <div class="col-md-6">
                          <div class="ps-5">
                            <span class="check-tasks">
                              <div class="checkbox relative">
                                <label class="absolute">
                                  <input type="checkbox" data-ng-model="example.check">
                                  <span class="box"></span>
                                </label>
                              </div>
                            </span>
                            <h6 class="fw-600 pt-1">Review created screens</h6>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="d-flex align-items-center justify-content-end">
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-list-check me-2"></i>
                              <p class="text-light-gray">2/3</p>
                            </span>
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-two-message me-2"></i>
                              <p class="text-light-gray">5</p>
                            </span>
                            <button class="btn-rejected px-3 py-2 rounded">Dribble</button>
                          </div>
                        </div>
                      </div>
                      <div class="row border-bottom border-2 py-3 cursor-pointer" data-bs-toggle="modal"
                        data-bs-target="#taskOverview">
                        <div class="col-md-6">
                          <div class="ps-5">
                            <span class="check-tasks">
                              <div class="checkbox relative">
                                <label class="absolute">
                                  <input type="checkbox" data-ng-model="example.check">
                                  <span class="box"></span>
                                </label>
                              </div>
                            </span>
                            <h6 class="fw-600 pt-1">Design search page</h6>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="d-flex align-items-center justify-content-end">
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-list-check me-2"></i>
                              <p class="text-light-gray">2/3</p>
                            </span>
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-two-message me-2"></i>
                              <p class="text-light-gray">5</p>
                            </span>
                            <button class="btn-progress px-3 py-2 rounded">Behance</button>
                          </div>
                        </div>
                      </div>
                      <div class="row border-bottom border-2 py-3 opacity-20">
                        <div class="col-md-6">
                          <div class="ps-5">
                            <span class="check-tasks">
                              <div class="checkbox relative">
                                <label class="absolute">
                                  <input type="checkbox" data-ng-model="example.check">
                                  <span class="box"></span>
                                </label>
                              </div>
                            </span>
                            <h6 class="fw-600 pt-1">A/B testing</h6>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="d-flex align-items-center justify-content-end">
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-list-check me-2"></i>
                              <p class="text-light-gray">2/3</p>
                            </span>
                            <span class="d-flex align-items-center me-3">
                              <i class="icon icon-two-message me-2"></i>
                              <p class="text-light-gray">5</p>
                            </span>
                            <button class="btn-progress px-3 py-2 rounded">Behance</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="modal right fade" id="userForm" tabindex="-1" aria-labelledby="interviewLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Add new User</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-light customer-add-form">
            <form>
              <label for="Customer-name" class="d-block mb-2">User Name</label>
              <input type="text" placeholder="Please Insert User Name" class="form-input w-100">
              <label for="Project-id" class="d-block my-2">Department</label>
              <select name="Role" id="Role" class="d-block w-100 border border-2 rounded px-2 py-2">
                <option value="Manager">Owner</option>
                <option value="Manager">Admin</option>
                <option value="Urdu">Extended</option>
                <option value="Hindi">Standard</option>
                <option value="Punjabi">Limited</option>
              </select>
              <label for="ProjectSummary" class="d-block my-2">User Phone Number</label>
              <input type="text" placeholder="Enter a User Phone Number" class="form-input w-100">
              <label for="ProjectSummary" class="d-block my-2">User Email</label>
              <input type="text" placeholder="Enter a User Email" class="form-input w-100">
              <label for="ProjectSummary" class="d-block my-2">User Position</label>
              <input type="text" placeholder="Enter a User Position" class="form-input w-100">
              <label for="ProjectSummary" class="d-block my-2">Role</label>
              <select name="Role" id="Role" class="d-block w-100 border border-2 rounded px-2 py-2">
                <option value="Manager">Owner</option>
                <option value="Manager">Admin</option>
                <option value="Urdu">Extended</option>
                <option value="Hindi">Standard</option>
                <option value="Punjabi">Limited</option>
              </select>
            </form>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-primary px-5 py-2 text-uppercase">Add</button>
            <button type="button" class="btn bg-light px-4 py-2 text-uppercase" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal right fade" id="SettingForm" tabindex="-1" aria-labelledby="interviewLabel" aria-hidden="true">
      <div class="modal-dialog width-50 wsm-95">
        <div class="modal-content">
          <div class="modal-header">
            <h4>Profile settings</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-light customer-add-form">
            <ul class="nav nav-tabs border-0" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link text-uppercase active" id="general-tab" data-bs-toggle="tab"
                  data-bs-target="#general" type="button" role="tab" aria-controls="general"
                  aria-selected="false">general</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link text-uppercase" id="security-tab" data-bs-toggle="tab"
                  data-bs-target="#security" type="button" role="tab" aria-controls="security"
                  aria-selected="false">security</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link text-uppercase" id="billing-tab" data-bs-toggle="tab" data-bs-target="#billing"
                  type="button" role="tab" aria-controls="billing" aria-selected="false">billing</button>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane py-4 active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <form>
                  <div class="upload-file">
                    <div class="file-upload">
                      <figure>
                        <img id="chosen-image">
                        <figcaption id="file-name">
                        </figcaption>
                      </figure>
                      <input type="file" id="upload-button" accept="image/*" />
                      <label for="upload-button">
                        Add Image
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <label for="name" class="fw-bold mt-3 mb-2">Full Name</label>
                      <input type="text" name="name" id="name" placeholder="Enter a Full Name"
                        class="d-block w-100 border border-2 rounded px-4 py-2">
                      <label for="email" class="fw-bold mt-3 mb-2">Email</label>
                      <input type="email" name="email" id="email" placeholder="Enter a Email"
                        class="d-block w-100 border border-2 rounded px-4 py-2">
                      <label for="language" class="fw-bold mt-3 mb-2">Language</label>
                      <select name="language" id="language" class="d-block w-100 border border-2 rounded px-4 py-2">
                        <option value="English">English</option>
                        <option value="Urdu">Urdu</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Punjabi">Punjabi</option>
                      </select>
                    </div>
                    <div class="col-md-6">
                      <label for="role" class="fw-bold mt-3 mb-2">Role</label>
                      <select name="Role" id="Role" class="d-block w-100 border border-2 rounded px-4 py-2">
                        <option value="Manager">Manager</option>
                        <option value="Urdu">Urdu</option>
                        <option value="Hindi">Hindi</option>
                        <option value="Punjabi">Punjabi</option>
                      </select>
                      <label for="phone" class="fw-bold mt-3 mb-2">Phone</label>
                      <input type="tel" name="phone" id="phone" placeholder="Enter a Phone Number"
                        class="d-block w-100 border border-2 rounded px-4 py-2">
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane py-4" id="security" role="tabpanel" aria-labelledby="security-tab">
                <h5 class="fw-600 mb-3">Change Password</h5>
                <div class="row">
                  <div class="col-md-6">
                    <label for="password" class="fw-bold mt-3 mb-2">Current Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password"
                      class="d-block w-100 border border-2 rounded px-4 py-2">
                  </div>
                  <div class="col-md-6">
                    <label for="password" class="fw-bold mt-3 mb-2">New Password</label>
                    <input type="password" name="password" id="password" placeholder="Enter Your Password"
                      class="d-block w-100 border border-2 rounded px-4 py-2">
                  </div>
                </div>
                <h5 class="fw-600 mb-3">Security Questions</h5>
                <div class="row">
                  <div class="col-md-6">
                    <label for="questions" class="fw-bold mt-3 mb-2">Questions #1</label>
                    <select name="questions" id="questions" class="d-block w-100 border border-2 rounded px-4 py-2">
                      <option value="questions">What is your friend's name</option>
                      <option value="Admin">Admin</option>
                      <option value="Admin +">Admin +</option>
                    </select>
                    <label for="questions" class="fw-bold mt-3 mb-2">Questions #1</label>
                    <select name="questions" id="questions" class="d-block w-100 border border-2 rounded px-4 py-2">
                      <option value="questions">What is your friend's name</option>
                      <option value="Admin">Admin</option>
                      <option value="Admin +">Admin +</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="answer" class="fw-bold mt-3 mb-2">Answer</label>
                    <input type="text" name="answer" id="answer" placeholder="Enter Your Answer"
                      class="d-block w-100 border border-2 rounded px-4 py-2">
                    <label for="answer" class="fw-bold mt-3 mb-2">Answer</label>
                    <input type="text" name="answer" id="answer" placeholder="Enter Your Answer"
                      class="d-block w-100 border border-2 rounded px-4 py-2">
                  </div>
                </div>
              </div>
              <div class="tab-pane py-4" id="billing" role="tabpanel" aria-labelledby="billing-tab">
                <h5 class="fw-600 mb-3">Billing Settings</h5>
                <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                  <p>Payment Method</p>
                  <div class="d-flex align-items-center">
                    <p>MasterCard ending in 4078,exp: 08/2020</p>
                    <a href="./pm-billing.html" class="text-decoration-none ms-3">Update</a>
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between border-bottom py-3">
                  <p>Billing Period</p>
                  <div class="d-flex align-items-center">
                    <p>Plan billed monthly</p>
                    <a href="./pm-billing.html" class="text-decoration-none ms-3">Update</a>
                  </div>
                </div>
                <h5 class="fw-600 my-3">Payment History</h5>
                <div class="border rounded">
                  <div class="d-flex align-items-center justify-content-between border-bottom p-3">
                    <div class="d-flex align-items-center">
                      <p class="fw-bold me-3">21 Oct 2018</p>
                      <p>IOTask Pro (9/21/2018 to 10/21/2019)</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <p>$28.00</p>
                      <a href="#" class="text-decoration-none ms-3">Invoice</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between border-bottom p-3">
                    <div class="d-flex align-items-center">
                      <p class="fw-bold me-3">21 Oct 2018</p>
                      <p>IOTask Pro (9/21/2018 to 10/21/2019)</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <p>$28.00</p>
                      <a href="#" class="text-decoration-none ms-3">Invoice</a>
                    </div>
                  </div>
                  <div class="d-flex align-items-center justify-content-between p-3">
                    <div class="d-flex align-items-center">
                      <p class="fw-bold me-3">21 Oct 2018</p>
                      <p>IOTask Pro (9/21/2018 to 10/21/2019)</p>
                    </div>
                    <div class="d-flex align-items-center">
                      <p>$28.00</p>
                      <a href="#" class="text-decoration-none ms-3">Invoice</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-fill px-5 py-2 text-uppercase">Update</button>
            <button type="button" class="btn bg-light px-4 py-2 text-uppercase" data-bs-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- JavaScript
================================================== -->
  <script src="./assets/js/jquery-3.3.1.min.js"></script>
  <script src="./assets/js/bootstrap.bundle.min.js"></script>
  <script src="./assets/js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    window.onload = function () {
      const commentChart = document.getElementById("commentChart");

      const commentChart_1 = new Chart(commentChart, {
        type: "bar",
        data: {
          labels: ["Jan", "Mar", "Apr", "May", "Jun", "Jul"],
          datasets: [
            {
              label: "# of Votes",
              data: [10, 13, 9, 12, 13, 8],
              borderRadius: 5,
              borderWidth: 1,
              backgroundColor: "#775da6",
              barThickness: 12,
            },
            {
              label: "# of Votes",
              data: [10, 13, 9, 12, 11, 13],
              borderRadius: 5,
              borderWidth: 1,
              backgroundColor: "#abdfe7",
              barThickness: 12,
            },
          ],
        },
        options: {
          responsive: true,
          scales: {
            x: {
              // display: false,
              grid: {
                drawOnChartArea: false,
              },
              ticks: {
                display: true,
              },
            },
            y: {
              display: false,
              grid: {
                drawOnChartArea: false,
              },
              ticks: {
                display: false,
              },
            },
          },
          plugins: {
            legend: {
              display: false,
            },
          },
        },
      });

      const followersChart = document.getElementById('followersChart');

      const followersChart_1 = new Chart(followersChart, {
        type: 'line',
        data: {
          labels: ['Jan', 'Fab', 'Mar', 'Apr', 'May', 'Jun'],
          datasets: [
            {
              label: ['Facebook'],
              data: [200, 190, 195, 188, 210, 220, 215],
              borderColor: '#775da6',
              backgroundColor: '#775da6',
            },
            {
              label: ['Twitter'],
              data: [150, 145, 148, 155, 148, 140, 144],
              borderColor: '#70b6c1',
              backgroundColor: '#70b6c1',
            },
            {
              label: ['YouTube'],
              data: [100, 120, 110, 105, 115, 130, 135],
              borderColor: '#ffb1b7',
              backgroundColor: '#ffb1b7',
            }
          ],
        },
        options: {
          responsive: true,
          elements: {
            point: {
              radius: 0
            }
          },
          scales: {
            x: {
              // display: false,
              beginAtZero: true,
              grid: {
                drawOnChartArea: false,
              },
              ticks: {
                display: true,
              }
            },
            y: {
              beginAtZero: true,
            }
          },
          plugins: {
            legend: {
              display: true,
              position: 'bottom',
              labels: {
                usePointStyle: true,
                boxWidth: 8
              }
            }
          }
        },
      });
    };
  </script>

</body>

</html>