<!DOCTYPE html>
<html lang="en">

<head>
  <title>Rhombus</title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="" />

  <link href="https://example.com/" rel="canonical" />
  <!-- preferred URL - change for you site -->

  <!--fonts-->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
  <link href="./assets/css/bootstrap.min.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="./assets/owlcarousel/assets/owl.carousel.min.css" /> -->
  <link href="./assets/css/main.css" rel="stylesheet" />
  <link href="./assets/css/responsive.css" rel="stylesheet" />

  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <script>
    document.addEventListener('alpine:init', () => {
      Alpine.data('stages', () => ({
        columns: [1, 1, 1, 1, 1, 1],

        addColumn() {
          this.columns.unshift(1)
        },
        removeColumn(i) {
          this.columns.splice(i, 1);
        },
        addSectionRow(type) {
          let countColumns = this.columns.length;
          console.log(countColumns);
          let tds = '';
          switch (type) {
            case 'goal':
              tds += '<td class="stage-heading">Customer Goals</td>';
              tds += `
        <template x-for="i in columns">
            <td>
              <div x-data="{ goals: [''] }">
                <div class="customer-goals">
                  <template x-for="(goal, index) in goals" :key="index">
                    <div class="customerGoals">
                      <input type="text" x-model="goal" x-bind:placeholder="'Goal ' + (index + 1)">
                    </div>
                  </template>
                  <div class="w-100 text-center mt-2">
                    <a class="processes text-center fs-3 text-fill cursor-pointer w-fit mx-auto text-decoration-none" x-on:click="goals.push('')">
                      +
                    </a>
                  </div>
                </div>
              </div>
            </td>
        </template>`;
              break;
            case 'pain':
              tds += '<td class="stage-heading">Pain Points</td>';
              tds += `
              <template x-for="(i, ind) in columns">
                      <template x-for="j in columns[ind]">
                        <td>
                          <div x-data="{ painPints: [{ text: '', description: '' }] }">
                            <div class="pain-pints">
                              <template x-for="(painPint, index) in painPints" :key="index">
                                <div class="painPints mb-3">
                                  <div class="pain-pints-input">
                                    <input type="text" x-model="painPint.text"
                                      :placeholder="'Pain Pint ' + (index + 1)">
                                    <textarea x-model="painPint.description"
                                      :placeholder="'Description ' + (index + 1)"></textarea>
                                    <div class="input-hover-icon">
                                      <i class="icon icon-add-stage"></i>
                                      <i class="icon icon-settings" data-bs-toggle="modal"
                                        data-bs-target="#colorThemeModal"></i>
                                      <i class="icon icon-close-stage" @click="painPints.splice(index, 1)"></i>
                                    </div>
                                  </div>
                                </div>
                              </template>
                              <div class="w-100 text-center mt-2">
                                <a class="processes text-center fs-3 text-fill cursor-pointer w-fit mx-auto text-decoration-none"
                                  @click="painPints.push({ text: '', description: '' })">+</a>
                              </div>
                            </div>
                          </div>
                        </td>
                      </template>
                    </template>`;
              break;
            case 'touchpoints':
              tds += '<td class="stage-heading">Touchpoints Activity</td>';
              tds += `
        <template x-for="(i, ind) in columns">
          <template x-for="j in columns[ind]">
            <td>
              <div x-data="{ touchpointActivities: [{ language: 'Email', invitation: '' }] }">
                <div class="touchpoint-activity">
                  <template x-for="(activity, index) in touchpointActivities" :key="index">
                    <div class="touchpointActivity mb-3">
                      <div class="touchpoint-activity-input">
                        <select name="language" id="language" x-model="activity.language">
                          <option value="Email">Email</option>
                          <option value="Touchpoint">Touchpoint</option>
                        </select>
                        <input type="text" x-model="activity.invitation" x-bind:placeholder="'Email Invitation ' + (index + 1)">
                        <div class="input-hover-icon">
                          <i class="icon icon-add-stage"></i>
                          <i class="icon icon-settings" data-bs-toggle="modal" data-bs-target="#colorThemeModal"></i>
                          <i class="icon icon-close-stage" x-on:click="touchpointActivities.splice(index, 1)"></i>
                        </div>
                      </div>
                    </div>
                  </template>
                  <div class="w-100 text-center mt-2">
                    <a class="cursor-pointer d-block" x-on:click="touchpointActivities.push({ language: 'Email', invitation: '' })">
                      <i class="icon icon-add-stage"></i>
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </template>
        </template>`;
              break;
            case 'department':
              tds += '<td class="stage-heading">Department Channels</td>';
              tds += `
        <template x-for="(i, ind) in columns">
          <template x-for="j in columns[ind]">
            <td>
              <div x-data="{ departmentChannels: [{ language: '', accountManager: '' }] }">
                <div class="department-channels">
                  <template x-for="(channel, index) in departmentChannels" :key="index">
                    <div class="departmentChannels mb-3">
                      <div class="department-channels-input">
                        <select name="language" id="language" x-model="channel.language">
                          <option value="English">Sales</option>
                          <option value="Urdu">Department</option>
                        </select>
                        <input type="text" x-model="channel.accountManager" placeholder="Account Manager">
                        <div class="input-hover-icon">
                          <i class="icon icon-add-stage"></i>
                          <i class="icon icon-settings" data-bs-toggle="modal" data-bs-target="#colorThemeModal"></i>
                          <i class="icon icon-close-stage" x-on:click="departmentChannels.splice(index, 1)"></i>
                        </div>
                      </div>
                    </div>
                  </template>
                  <div class="w-100 text-center mt-2">
                    <a class="cursor-pointer d-block" x-on:click="departmentChannels.push({ language: '', accountManager: '' })">
                      <i class="icon icon-add-stage"></i>
                    </a>
                  </div>
                </div>
              </div>
            </td>
          </template>
        </template>`;
              break;
            case 'experience':
              tds += `
      <td class="stage-heading">
        <div class="d-flex">
          <p>Experience</p>
          <div class="ms-2 d-flex flex-column">
            <img src="./assets/images/emotion-greate.png" alt="">
            <img src="./assets/images/emotion-good.png" alt="">
            <img src="./assets/images/emotion-sad.png" alt="">
          </div>
        </div>
      </td>`;
              tds += `
        <template x-for="(i, ind) in columns">
          <template x-for="j in columns[ind]">
            <td>
              <div class="experience">
                <div class="experience-checkbox">
                  <div class="experience-great">
                    <span>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" data-ng-model="example.check">
                          <span class="box"></span>
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="experience-good">
                    <span>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" data-ng-model="example.check">
                          <span class="box"></span>
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="experience-poor">
                    <span>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" data-ng-model="example.check">
                          <span class="box"></span>
                        </label>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
            </td>
          </template>
        </template>`;
              break;
            case 'processes':
              tds += '<td class="stage-heading">Processes</td>';
              tds += `
        <template x-for="(i, ind) in columns">
          <template x-for="j in columns[ind]">
            <td class="py-4">
              <div class="processes text-center fs-3 text-fill cursor-pointer w-fit mx-auto" data-bs-toggle="modal" data-bs-target="#processesModal">+</div>
              <div id="imageContainer" class="text-center"></div>
            </td>
          </template>
        </template>`;
              break;
            case 'mediaImage':
              tds += '<td class="stage-heading">Media Image</td>';
              tds += `
        <template x-for="(i, ind) in columns">
          <template x-for="j in columns[ind]">
            <td>
              <div class="table-media">
                            <div class="upload-file">
                              <div class="file-upload">
                                <figure class="figure" x-data="{ chosenImage: '', fileName: '' }">
                                  <img :src="chosenImage" id="chosen-image" x-show="chosenImage" style="display: block;">
                                  <i class="icon icon-image-icon-add-stages bg-cover mr-3" x-show="!chosenImage"></i>
                                  <figcaption id="file-name" x-text="fileName"></figcaption>
                                </figure>
                                <input type="file" id="upload-button" accept="image/*" @change="handleFileUpload">
                              </div>
                            </div>
                          </div>
            </td>
          </template>
        </template>`;
              break;
            case 'mediaVideo':
              tds += '<td class="stage-heading">Media Video</td>';
              tds += `
        <template x-for="(i, ind) in columns">
          <template x-for="j in columns[ind]">
            <td>
              <div class="table-media">
                <div class="video-media" x-data="{ videoLink: '', videoId: '' }" x-init="setVideoId">
                  <input type="url" x-model="videoLink" x-on:input="getVideoId">
                  <div class="video-wrapper" x-show="videoId">
                    <iframe :src="videoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </td>
          </template>
        </template>`;
              break;
            case 'dragChart':
              tds += '<td class="stage-heading">Actions</td>';
              tds += `
        <template x-for="(i, ind) in columns">
          <template x-for="j in columns[ind]">
            <td>
              <div class="table-media">
                <div class="video-media" x-data="{ videoLink: '', videoId: '' }" x-init="setVideoId">
                  <input type="url" x-model="videoLink" x-on:input="getVideoId">
                  <div class="video-wrapper" x-show="videoId">
                    <iframe :src="videoUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                </div>
              </div>
            </td>
          </template>
        </template>`;
              break;
            case 'dragChart':
              tds += `<td colspan="6"><div id="container"><canvas id="canvas" width="400" height="300"></canvas></div></td>`;
              break;
            case 'dragFillingChart':
              tds += `<td colspan="6"><div id="container"><canvas id="canvas" width="400" height="300"></canvas></div></td>`;
              break;
            default:
              break;
          }
          $('#journey-map').append(`<tr>${tds}</tr>`)
        }
      }))
    })
  </script>
  <style>
    #container {
      position: relative;
      width: 100%;
      height: 300px;
      display: flex;
      align-items: center;
    }

    #canvas {
      position: absolute;
      top: 0;
      left: 0;
    }

    .data-point-label-container {
      display: inline-block;
      position: absolute;
    }

    .data-point-label {
      font-size: 12px;
      cursor: pointer;
      padding: 4px;
    }

    .data-point-image {
      width: 16px;
      height: 16px;
      margin-right: 4px;
    }
  </style>
</head>

<body>
  <section class="section-panel" x-data="stages">
    <div class="admin-wrapper">
      <aside class="aside">
        <div class="left-top">
          <div class="sitepanel-toggler">
            <div class="close">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="logo">
              <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt=""></a>
            </div>
          </div>
          <ul>
            <li><a href="./mp-index.html" class="panel_link "><i class="icon icon-overviwe"></i>
                <span>Dashboard</span></a></li>
            <li class="nav-item panel-dropdown">
              <a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Business-Dropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <i class="icon icon-trending"></i><span>Voice of Customer</span>
              </a>
              <ul class="Business-Dropdown" aria-labelledby="Transactions-Dropdown">
                <li><a class="dropdown-item panel_link " href="./mp-surveys.html"><i class="icon icon-trending"></i>
                    <span>My Surveys</span></a></li>
                <li><a class="dropdown-item panel_link " href="./mp-indirect-voc.html"><i
                      class="icon icon-trending"></i> <span>Indirect VOC</span></a></li>
              </ul>
            </li>
            <li><a href="./mp-customer-journey.html" class="panel_link active_panel"><i
                  class="icon icon icon-friends"></i> <span>Customer Journey</span></a>
            </li>
            <li><a href="./mp-customer-profile.html" class="panel_link"><i class="icon icon-friends"></i>
                <span>Customer Profile</span></a></li>
            <li><a href="./mp-user-persona.html" class="panel_link "><i class="icon icon-calander"></i> <span>User
                  Persona</span></a></li>
            <li><a href="./mp-brand-reputation.html" class="panel_link"><i class="icon icon-calander"></i> <span>Brand
                  Reputation</span></a></li>
            <li><a href="./mp-user-flow.html" class="panel_link"><i class="icon icon-calander"></i> <span>User
                  Flow</span></a></li>
            <li><a href="./mp-complaint-management.html" class="panel_link"><i class="icon icon-calander"></i>
                <span>Complaint Management</span></a></li>
            <li><a href="./mp-initiative-management.html" class="panel_link"><i class="icon icon-memory"></i>
                <span>Initiative Management</span></a></li>
            <li><a href="./" class="panel_link"><i class="icon icon-reports"></i> <span>Report</span></a></li>
            <div class="open-button">
              <i class="icon icon-right-arrow"></i>
            </div>
          </ul>
        </div>
      </aside>
      <main class="main">
        <div class="top-nav bg-white justify-content-end">
          <div class="sitepanel-toggler for-mobile">
            <div class="close">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="logo">
              <a class="navbar-brand" href="#"><img src="./assets/images/logo.png" alt=""></a>
            </div>
          </div>
          <!-- <div class="search-form d-none d-md-block">
            <form action="">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Search..." aria-label="Search">
                <i class="icon icon-search-form"></i>
              </div>
            </form>
          </div> -->
          <div class="about-profile">
            <div class="d-none d-md-flex align-items-center">
              <!-- <button type="button" class="btn ouline-white" data-bs-toggle="modal" data-bs-target="#userForm"><i
                  class="icon icon-plus"></i> Add</button> -->
              <a href=""><i class="icon icon-question"></i></a>
              <div class="dropdown select-dropdown admin-notification">
                <button class="btn dropdown-toggle text-dark border-0 m-0" type="button" id="dropdownMenuButton1"
                  data-bs-toggle="dropdown" aria-expanded="false" style="min-width: 50px !important;">
                  <i class="icon icon-notification"></i>
                </button>
                <ul class="dropdown-menu min-w-320" aria-labelledby="dropdownMenuButton1">
                  <div class="p-2 d-flex align-items-center justify-content-between border-bottom">
                    <p>Notification</p>
                    <a href="./crm-account-activities.html" class="text-decoration-none text-fill fw-600">See All</a>
                  </div>
                  <div class="p-2 border-bottom">
                    <p class="text-light-gray"><b class="text-dark">Edit your information in a swipe</b> Sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                    <p class="text-light-gray mt-3">12 May, 2025</p>
                  </div>
                  <div class="p-2 border-bottom">
                    <p class="text-light-gray"><b class="text-dark">Edit your information in a swipe</b> Sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                    <p class="text-light-gray mt-3">12 May, 2025</p>
                  </div>
                  <div class="p-2">
                    <p class="text-light-gray"><b class="text-dark">Edit your information in a swipe</b> Sint occaecat
                      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim.</p>
                    <p class="text-light-gray mt-3">12 May, 2025</p>
                  </div>
                </ul>
              </div>
            </div>
            <div class="dropdown select-dropdown admin-profile">
              <button class="btn dropdown-toggle text-dark w-100 border-0 d-flex align-center ms-md-4" type="button"
                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="profile-img me-2">
                  <img class="img-fluid" src="./assets/images/profile.png" alt="">
                </div>
                <div class="admin-info d-none d-md-block">
                  <h5 class="">Katie Pena</h5>
                  <h6 class="">Admin</h6>
                </div>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <div class="profile-images text-center">
                  <img src="./assets/images/profile-2.png" alt="">
                  <h6 class="text-small mt-2">Allen Moreno</h6>
                  <p class="text-small text-light-gray">allenmoreno@gmail.com</p>
                </div>
                <li><a class="dropdown-item mt-3" href="./crm-edit-profile.html"><i class="icon icon-user-profile"></i>
                    My Profile</a></li>
                <li><a class="dropdown-item" href="./crm-profile-activities.html"><i class="icon icon-calender-2"></i>
                    Actions</a></li>
                <li><a class="dropdown-item" href="#"><i class="icon icon-question me-1"></i> FAQ</a></li>
                <li><a class="dropdown-item" href="#"><i class="icon icon-power-off me-1"></i> Sign Out</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="container-100 overflow-x">
          <div class="page-main-title">
            <div class="heading">
              <h1>Journey Name</h1>
            </div>
            <button type="button" class="btn btn-fill me-md-3 mt-3 mt-md-0 wsm-100">Save</button>
          </div>
          <div class="bg-white p-3 journey-map-white">
            <div class="d-flex">
              <table id="journey-map" class="journey-map-table journey-map ">
                <tbody>
                  <tr id="mainStages" class="stages-main">
                    <td scope="col">
                      <h4>Stages</h4>
                    </td>
                    <template x-for="(i,ind) in columns">
                      <td>
                        <div class="stages">
                          <h3 x-bind:class="{ 'first-child': ind === 0, 'last-child': ind === (columns.length - 1) }">
                            <input type="text" placeholder="Stage 1"
                              class="mt-2 border-0 input-white outline-none bg-transparent text-center w-100">
                          </h3>
                        </div>
                      </td>
                    </template>
                  </tr>
                  <tr>
                    <td colspan="6">
                      <div class="action-title">
                        <h2>ACTIONS</h2>
                        <div id="container">
                          <canvas id="canvas" width="400" height="300"></canvas>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr id="subStages" class="feedback-main">
                    <td>
                      <h4>Feedback</h4>
                    </td>
                    <template x-for="(i, ind) in columns">
                      <template x-for="j in columns[ind]">
                        <td class="feedback">
                          <div class="yellow-boxs">
                            <div class="yellow-box">
                              <ul>
                                <li>
                                  <textarea name="" id="" cols="30" rows="4"
                                    class="w-100 border-0 rounded bg-transparent outline-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto.</textarea>
                                </li>
                                <li>
                                  <textarea name="" id="" cols="30" rows="4"
                                    class="w-100 border-0 rounded bg-transparent outline-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto.</textarea>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="pink-boxs">
                            <div class="pink-box">
                              <ul>
                                <li>
                                  <textarea name="" id="" cols="30" rows="4"
                                    class="w-100 border-0 rounded bg-transparent outline-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto.</textarea>
                                </li>
                                <li>
                                  <textarea name="" id="" cols="30" rows="4"
                                    class="w-100 border-0 rounded bg-transparent outline-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto.</textarea>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                      </template>
                    </template>
                  </tr>
                  <tr id="customerGoals" class="opportunities-main">
                    <td>
                      <h4>OPPORTUNITIES</h4>
                    </td>
                    <template x-for="(i, ind) in columns">
                      <template x-for="j in columns[ind]">
                        <td class="opportunities-td">
                          <div class="opportunities">
                            <div class="transparent-boxs">
                              <div class="transparent-box">
                                <ul>
                                  <li>
                                    <textarea name="" id="" cols="30" rows="4"
                                      class="w-100 border-0 rounded bg-transparent outline-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto.</textarea>
                                  </li>
                                  <li>
                                    <textarea name="" id="" cols="30" rows="4"
                                      class="w-100 border-0 rounded bg-transparent outline-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto.</textarea>
                                  </li>
                                  <li>
                                    <textarea name="" id="" cols="30" rows="4"
                                      class="w-100 border-0 rounded bg-transparent outline-none">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, iusto.</textarea>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </td>
                      </template>
                    </template>
                  </tr>
                </tbody>
              </table>
              <div class="add-stage-button mt-5 ms-3">
                <button type="button" class="btn fs-6 width-100px p-0" onclick="addDataPoint()" @click="addColumn">Add
                  Satge</button>
              </div>
            </div>
            <div class="add-stage-button mt-5 ms-3">
              <button type="button" class="btn fs-6 width-100px p-0" data-bs-toggle="modal"
                data-bs-target="#addSectionModal">Add Section</button>
            </div>
          </div>
        </div>
      </main>
    </div>
    <div class="modal fade" id="colorThemeModal" tabindex="-1" aria-labelledby="colorThemeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="colorThemeModalLabel">Substage Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="font-popup">
              <div class="row">
                <div class="col-4">
                  <label for="name" class="fw-bold mt-3 mb-2">Font</label>
                  <select name="language" id="language" class="d-block w-100 rounded px-4 py-2">
                    <option value="English">Helvetica</option>
                    <option value="Urdu">Verdana</option>
                    <option value="Hindi">Calibri</option>
                    <option value="Punjabi">Noto</option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="name" class="fw-bold mt-3 mb-2">Font Size</label>
                  <select name="language" id="language" class="d-block w-100 rounded px-4 py-2">
                    <option value="English">12</option>
                    <option value="Urdu">13</option>
                    <option value="Hindi">14</option>
                    <option value="Punjabi">15</option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="name" class="fw-bold mt-3 mb-2">Font Color</label>
                  <div class="d-block">
                    <input type="color" id="colorPicker" />
                    <div id="selectedColor"></div>
                  </div>
                </div>
                <div class="col-4">
                  <label for="name" class="fw-bold mt-3 mb-2">Background Color</label>
                  <div class="d-block">
                    <input type="color" id="colorPickerBackground" />
                    <div id="selectedColorBackground"></div>
                  </div>
                </div>
              </div>
              <h6 class="my-3">Title in this substage</h6>
              <div class="row">
                <div class="col-4">
                  <label for="name" class="fw-bold mt-3 mb-2">Font</label>
                  <select name="language" id="language" class="d-block w-100 rounded px-4 py-2">
                    <option value="English">Helvetica</option>
                    <option value="Urdu">Verdana</option>
                    <option value="Hindi">Calibri</option>
                    <option value="Punjabi">Noto</option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="name" class="fw-bold mt-3 mb-2">Font Size</label>
                  <select name="language" id="language" class="d-block w-100 rounded px-4 py-2">
                    <option value="English">12</option>
                    <option value="Urdu">13</option>
                    <option value="Hindi">14</option>
                    <option value="Punjabi">15</option>
                  </select>
                </div>
                <div class="col-4">
                  <label for="name" class="fw-bold mt-3 mb-2">Font Color</label>
                  <div class="d-block">
                    <input type="color" id="colorPicker" />
                    <div id="selectedColor"></div>
                  </div>
                </div>
              </div>
              <h6 class="my-3">Link Section to another map/persona</h6>
              <input type="text" name="" id="" placeholder="Map/persona" class="w-100 p-2 map-icon">
              <h6 class="my-3">Stages Icons</h6>
              <a class="cursor-pointer text-decoration-none mt-3 text-fill">+ Add Icon</a>
              <div class="d-flex mt-3">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                    Before title
                  </label>
                </div>
                <div class="form-check ms-2">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                    After title
                  </label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="addSectionModal" tabindex="-1" aria-labelledby="addSectionModalLabel" aria-modal="true"
      role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addSectionModalLabel">Add New Section</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body bg-light">
            <div class="py-4 px-5 text-center">
              <div class="bg-white p-3 d-flex align-items-center justify-content-between rounded mb-3 cursor-pointer"
                data-bs-toggle="modal" data-bs-target="#MediaPopupModal">
                <h5>Media</h5>
                <i class="icon icon-popup-image"></i>
              </div>
              <div class="bg-white p-3 d-flex align-items-center justify-content-between rounded mb-3 cursor-pointer"
                data-bs-toggle="modal" data-bs-target="#chartPopupModal">
                <h5>Chart & Graph</h5>
                <i class="icon icon-chart-graph"></i>
              </div>
              <div class="bg-white p-3 d-flex align-items-center justify-content-between rounded mb-3 cursor-pointer"
                data-bs-toggle="modal" data-bs-target="#textPopupModal">
                <h5>Text</h5>
                <i class="icon icon-popup-text bg-cover"></i>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-primary text-uppercase">Next</button>
            <button type="button" class="btn text-uppercase border border-2" data-bs-dismiss="modal">cancel</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="textPopupModal" tabindex="-1" aria-labelledby="textPopupModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="textPopupModalLabel">Text</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body journey-map-white">
            <div class="journey-map">
              <div class="customer-goals cursor-pointer" @click="addSectionRow('goal')">
                <h5 class="mb-2">Customer Goals</h5>
                <div class="customerGoals">
                  <input type="text" name="text" id="customer-goals" placeholder="Goal 1">
                </div>
              </div>
              <div class="pain-pints cursor-pointer" @click="addSectionRow('pain')">
                <div class="painPints">
                  <h5 class="mb-2">Pain Pints</h5>
                  <div class="pain-pints-input">
                    <input type="text" name="text" id="text" placeholder="Pain Pints">
                    <textarea name="description" id="description" cols="30" rows="1"
                      placeholder="Description"></textarea>
                    <div class="input-hover-icon">
                      <i class="icon icon-add-stage"></i>
                      <i class="icon icon-settings" data-bs-toggle="modal" data-bs-target="#colorThemeModal"></i>
                      <i class="icon icon-close-stage"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="touchpoint-activity cursor-pointer" @click="addSectionRow('touchpoints')">
                <h5 class="mb-2">Touchpoints Activity</h5>
                <div class="touchpointActivity">
                  <div class="touchpoint-activity-input">
                    <select name="language" id="language">
                      <option value="English">Email</option>
                      <option value="Urdu">Touchpoint</option>
                    </select>
                    <input type="text" placeholder="Email Invitaion">
                    <div class="input-hover-icon">
                      <i class="icon icon-add-stage"></i>
                      <i class="icon icon-settings" data-bs-toggle="modal" data-bs-target="#colorThemeModal"></i>
                      <i class="icon icon-close-stage"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="department-channels cursor-pointer" @click="addSectionRow('department')">
                <h5 class="mb-2">Department Channels</h5>
                <div class="departmentChannels">
                  <div class="department-channels-input">
                    <select name="language" id="language">
                      <option value="English">Sales</option>
                      <option value="Urdu">Department</option>
                    </select>
                    <input type="text" placeholder="Account Manager">
                    <div class="input-hover-icon">
                      <i class="icon icon-add-stage"></i>
                      <i class="icon icon-settings" data-bs-toggle="modal" data-bs-target="#colorThemeModal"></i>
                      <i class="icon icon-close-stage"></i>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-100 h-100 cursor-pointer" @click="addSectionRow('processes')">
                <h5 class="mb-2">Processes</h5>
                <div class="text-center fs-3 text-fill w-fit mx-auto">
                  +
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="MediaPopupModal" tabindex="-1" aria-labelledby="MediaPopupModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="MediaPopupModalLabel">Media</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body journey-map-white">
            <div class="journey-map">
              <div class="table-media cursor-pointer" @click="addSectionRow('mediaImage')">
                <div class="upload-file border mb-3">
                  <div class="file-upload">
                    <figure class="figure" x-data="{ chosenImage: '', fileName: '' }" @click="handleFigureClick">
                      <!-- <img :src="chosenImage" id="chosen-image"> -->
                      <i class="icon icon-image-icon-add-stages bg-cover mr-3" x-show="!chosenImage"></i>
                      <figcaption id="file-name" x-text="fileName"></figcaption>
                    </figure>
                    <input type="file" id="upload-button" accept="image/*" @change="handleFileUpload">
                  </div>
                </div>
              </div>
              <div class="table-media cursor-pointer" @click="addSectionRow('mediaVideo')">
                <div class="upload-file border">
                  <div class="file-upload">
                    <figure class="figure" x-data="{ chosenImage: '', fileName: '' }" @click="handleFigureClick">
                      <!-- <img :src="chosenImage" id="chosen-image"> -->
                      <i class="icon icon-video-icon-add-stages bg-cover mr-3" x-show="!chosenImage"></i>
                      <figcaption id="file-name" x-text="fileName"></figcaption>
                    </figure>
                    <input type="file" id="upload-button" accept="image/*" @change="handleFileUpload">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="chartPopupModal" tabindex="-1" aria-labelledby="chartPopupModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="chartPopupModalLabel">Media</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body journey-map-white">
            <div class="journey-map">
              <div class="experience cursor-pointer" @click="addSectionRow('experience')">
                <h5 class="mb-2">Experience</h5>
                <div class="experience-checkbox">
                  <div class="experience-great">
                    <span>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" data-ng-model="example.check">
                          <span class="box"></span>
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="experience-good">
                    <span>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" data-ng-model="example.check">
                          <span class="box"></span>
                        </label>
                      </div>
                    </span>
                  </div>
                  <div class="experience-poor">
                    <span>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" data-ng-model="example.check">
                          <span class="box"></span>
                        </label>
                      </div>
                    </span>
                  </div>
                </div>
              </div>
              <div class="experience cursor-pointer" @click="addSectionRow('dragChart')">
                <img src="./assets/images/dragdrop-chart.png" alt="" class="w-100 bg-cover">
              </div>
              <div class="experience cursor-pointer" @click="addSectionRow('dragFillingChart')">
                <img src="./assets/images/filling-chart.png" alt="" class="w-100 bg-cover">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="processesModal" tabindex="-1" aria-labelledby="processesModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="processesModalLabel">Configure Process</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="d-flex align-items-center cursor-pointer">
              <svg data-v-38367b91="" version="1.1" viewBox="0 0 101 73.3"
                class="svg-icon svg-fill process-menu__icon linear" style="width: 200px;">
                <path fill="#99A4B0" stroke="none" pid="0"
                  d="M100.1 35l-9.5-9.6c-1-1-2.6-1-3.5 0-1 1-1 2.6 0 3.6l4.8 4.9H3.4C2 33.9.7 35 .7 36.5c0 1.4 1.2 2.6 2.7 2.6h89.1l-5.1 5.2c-1 1-1 2.6 0 3.6.5.5 1.1.8 1.8.8.6 0 1.3-.2 1.8-.7l9.1-9.3c.5-.5.7-1.1.7-1.8s-.3-1.4-.7-1.9z"
                  _fill="#99a4b0"></path>
              </svg>
              <div class="ms-3">
                <h6 class="fw-600">Linear</h6>
                <p class="text-light-gray">Linear processes imply there's a set of required steps, one by one, customer
                  should take. They can't
                  go from A to C without B.</p>
              </div>
            </div>

            <div class="d-flex align-items-center mt-3 cursor-pointer">
              <svg data-v-38367b91="" version="1.1" viewBox="0 0 101 73.3"
                class="svg-icon svg-fill process-menu__icon non-linear" style="width: 200px;">
                <path fill="#99A4B0" stroke="none" pid="0"
                  d="M98.2 43.8c-1.7 0-3 1.3-3 3v7.8l-27.3-45c-.6-.9-1.6-1.4-2.6-1.4s-2 .5-2.5 1.4L34.9 55.1 5.8 9.6c-.9-1.4-2.7-1.8-4.1-.9s-1.8 2.7-.9 4.1l31.6 49.5c.6.9 1.5 1.4 2.6 1.4 1 0 2-.5 2.5-1.4L65.3 17 91 59.1h-7.5c-1.7 0-3 1.3-3 3s1.3 3 3 3h14.7c1.6 0 3-1.4 3-3V46.8c0-1.7-1.3-3-3-3z"
                  _fill="#99a4b0"></path>
              </svg>
              <div class="ms-3">
                <h6 class="fw-600">Non-linear time-based</h6>
                <p class="text-light-gray">Non-linear processes give customers some freedom in going from A to C - the
                  start/end points are known, but the sequence of actions can differ.</p>
              </div>
            </div>

            <div class="d-flex align-items-center mt-3 cursor-pointer">
              <svg data-v-38367b91="" version="1.1" viewBox="0 0 101 73.3"
                class="svg-icon svg-fill process-menu__icon ongoing" style="width: 200px;">
                <path fill="#99A4B0" stroke="none" pid="0"
                  d="M51.2 0c-9.4 0-18 3.6-24.5 9.4l-12.4 1.5c-1.6.2-2.8 1.7-2.6 3.4.2 1.6 1.7 2.8 3.3 2.6l5.8-.7c-4 5.8-6.3 12.9-6.3 20.5 0 20.2 16.4 36.6 36.6 36.6s36.6-16.4 36.6-36.6C87.9 16.4 71.4 0 51.2 0zm0 67.3c-16.9 0-30.6-13.7-30.6-30.6 0-6.2 1.9-12 5-16.8l.7 5.4c.2 1.5 1.5 2.6 3 2.6h.4c1.6-.2 2.8-1.7 2.6-3.3L31 13.9C36.3 8.9 43.4 6 51.2 6c16.9 0 30.6 13.7 30.6 30.6.1 16.9-13.7 30.7-30.6 30.7z"
                  _fill="#99a4b0"></path>
              </svg>
              <div class="ms-3">
                <h6 class="fw-600">Ongoing, non-linear</h6>
                <p class="text-light-gray">Ongoing, non-linear (or “cyclic”) processes are repeating from time to time
                </p>
              </div>
            </div>

            <div class="d-flex align-items-center mt-3 cursor-pointer">
              <svg data-v-38367b91="" version="1.1" viewBox="0 0 101 73.3"
                class="svg-icon svg-fill process-menu__icon bidirectional" style="width: 200px;">
                <path fill="#99A4B0" stroke="none" pid="0"
                  d="M100 35l-9.5-9.6c-1-1-2.6-1-3.5 0-1 1-1 2.6 0 3.6l4.8 4.9H9.6l4.8-4.9c1-1 1-2.6 0-3.6-.9-1-2.5-1-3.5 0L1.4 35c-.4.5-.7 1.2-.7 1.9 0 .8.2 1.3.7 1.8l9.1 9.3c.5.5 1.2.7 1.8.7.7 0 1.3-.3 1.8-.8 1-1 1-2.6 0-3.6L9 39.1h83.4l-5.1 5.2c-1 1-1 2.6 0 3.6.5.5 1.1.8 1.8.8.6 0 1.3-.2 1.8-.7l9.1-9.3c.5-.5.7-1.1.7-1.8s-.3-1.4-.7-1.9z"
                  _fill="#99a4b0"></path>
              </svg>
              <div class="ms-3">
                <h6 class="fw-600">Bi-directional</h6>
                <p class="text-light-gray">Linear processes, where one tasks leads to another one and customer can go
                  back to the previous step.</p>
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-primary">Done</button>
          </div>
        </div>
      </div>
    </div>

  </section>

  <!-- JavaScript
================================================== -->
  <script src="./assets/js/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="./assets/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./assets/js/main.js"></script>


  <script>
    // Data for the line chart
    var data = [
      { x: 230, y: 150, label: "Stage 1" },
      { x: 487, y: 150, label: "Stage 2" },
      { x: 744, y: 150, label: "Stage 3" },
      { x: 1001, y: 150, label: "Stage 4" },
      { x: 1258, y: 150, label: "Stage 5" },
      { x: 1515, y: 150, label: "Stage 6" },
    ];

    // Canvas variables
    var canvas = document.getElementById("canvas");
    var ctx = canvas.getContext("2d");

    // Initialize canvas size
    canvas.width = 1550;
    canvas.height = 300;

    // Variable to store the index of the selected data point
    var selectedDataIndex = -1;
    var yOffset = 0;

    // Function to draw the line chart
    function drawLineChart() {
      // Clear the canvas
      ctx.clearRect(0, 0, canvas.width, canvas.height);

      // Draw the line chart
      ctx.beginPath();
      ctx.moveTo(data[0].x, data[0].y);

      for (var i = 1; i < data.length; i++) {
        ctx.lineTo(data[i].x, data[i].y);
      }

      ctx.lineWidth = calculateLineWidth();
      ctx.strokeStyle = "#EAEAEA";
      ctx.stroke();

      // Draw dots at the data points and display labels
      for (var i = 0; i < data.length; i++) {
        var dotColor = data[i].y <= 150 ? "#27A530" : "#FA0707"; // Determine dot color based on y-coordinate

        ctx.beginPath();
        ctx.arc(data[i].x, data[i].y, 10, 0, 2 * Math.PI); // Increase dot width and height to 20px
        ctx.fillStyle = dotColor;
        ctx.fill();
        ctx.stroke();

        // Display the label of the data point above the dot
        ctx.fillStyle = "#000000";
        ctx.fillText(data[i].label, data[i].x - 10, data[i].y - 10);
      }
    }

    // Function to handle mousemove event
    function handleMouseMove(event) {
      var rect = canvas.getBoundingClientRect();
      var x = event.clientX - rect.left;
      var y = event.clientY - rect.top + yOffset;

      if (selectedDataIndex !== -1) {
        // Update the position of the selected data point
        data[selectedDataIndex].y = y;
        drawLineChart();
      } else {
        // Check if the mouse is over a data point
        for (var i = 0; i < data.length; i++) {
          if (
            Math.abs(data[i].x - x) <= 4 &&
            Math.abs(data[i].y - y) <= 4
          ) {
            canvas.style.cursor = "ns-resize";
            showDataPointLabel(i, x, y);
            return;
          }
        }

        canvas.style.cursor = "default";
        hideDataPointLabel();
      }
    }

    // Function to handle mousedown event
    function handleMouseDown(event) {
      var rect = canvas.getBoundingClientRect();
      var x = event.clientX - rect.left;
      var y = event.clientY - rect.top;

      // Check if the mouse is over a data point
      for (var i = 0; i < data.length; i++) {
        if (
          Math.abs(data[i].x - x) <= 4 &&
          Math.abs(data[i].y - y) <= 4
        ) {
          selectedDataIndex = i;
          yOffset = data[i].y - y;
          return;
        }
      }
    }

    // Function to handle mouseup event
    function handleMouseUp() {
      selectedDataIndex = -1;
    }

    // Event listeners for mousemove, mousedown, and mouseup events
    canvas.addEventListener("mousemove", handleMouseMove);
    canvas.addEventListener("mousedown", handleMouseDown);
    canvas.addEventListener("mouseup", handleMouseUp);

    // Function to calculate the line width based on data size
    function calculateLineWidth() {
      var dataLength = data.length;
      var lineWidth = 2; // Set the desired line width (2px)

      return lineWidth;
    }

    // Function to add a data point to the line chart
    function addDataPoint() {
      var lastDataPoint = data[data.length - 1];
      var x = lastDataPoint.x + 257;
      var y = 150;
      var label = "Stage " + (data.length + 1);
      data.push({ x: x, y: y, label: label });

      // Update the canvas width based on the new data point
      canvas.width += 257;

      // Update the canvas style width to match the updated canvas width
      canvas.style.width = canvas.width + "px";

      // Redraw the line chart
      drawLineChart();
    }

    // Function to show the label of the data point at the given index
    function showDataPointLabel(index, x, y) {
      var input = document.createElement("input");
      input.classList.add("data-point-input");
      input.value = data[index].label;
      input.style.left = x + 0 + "px";
      input.style.top = y + 185 + "px";
      input.style.display = "block";
      input.style.position = "absolute";
      input.style.border = "none";
      input.style.fontSize = "12px";
      input.style.textAlign = "center";

      input.addEventListener("input", function (event) {
        data[index].label = event.target.value;
        drawLineChart();
      });

      input.addEventListener("blur", function () {
        input.parentNode.removeChild(input);
      });

      document.body.appendChild(input);
      input.focus();
    }

    // Function to hide the data point label
    function hideDataPointLabel() {
      var input = document.querySelector(".data-point-input");
      if (input) {
        input.parentNode.removeChild(input);
      }
    }

    // Initial draw of the line chart
    drawLineChart();

    document.addEventListener('DOMContentLoaded', () => {
      let uploadButton = document.getElementById("upload-button");
      let chosenImage = document.getElementById("chosen-image");

      uploadButton.onchange = () => {
        let reader = new FileReader();
        reader.readAsDataURL(uploadButton.files[0]);
        reader.onload = () => {
          chosenImage.setAttribute("src", reader.result);
          chosenImage.style.zIndex = "1"; // Set the z-index value for the image element
        }
      };

      let handleFigureClick = () => {
        uploadButton.click();
      };

      let figureElement = document.querySelector(".figure");
      figureElement.addEventListener("click", handleFigureClick);
    });




    document.addEventListener('DOMContentLoaded', () => {
      const modal = document.getElementById('processesModal');
      const imageContainer = document.getElementById('imageContainer');
      const processesDiv = document.querySelector('.processes');

      function addImageToContainer(event) {
        const svgIcon = event.target.outerHTML;
        imageContainer.innerHTML = svgIcon;
        modal.classList.remove('show');
        processesDiv.remove();
      }

      const svgImages = document.querySelectorAll('.svg-icon');
      svgImages.forEach(svg => {
        svg.addEventListener('click', addImageToContainer);
      });
    });

  </script>
</body>

</html>