.subOne {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subTwo {
  height: 45%;
}

.subOne {
  width: 95%;
  margin: 0 auto;
}

.twoChildOne {
  width: 95%;
  margin: 0 auto;
  height: 20%;
  display: flex;
  align-items: center;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

}

.oneChildOne {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  height: 70px;
  align-items: center;
  border-bottom: 2px solid #757575;
  padding-bottom: 8px;
}

.oneChildOne h1,
.subTwo h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.18px;
  margin-top: 0;
}

.oneChildOne h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.18px;
  color: #000000;
  margin-top: 0;
}

.oneChildTwo {
  width: 90%;
  margin: 0 auto;
  min-height: 400px;
  max-height: fit-content;
  padding-top: 50px;
  padding-bottom: 50px;
  overflow-x: scroll;
}

.twoChildTwo {
  background-color: #f9f9f9;
  width: 100%;
  min-height: 80%;
  max-height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.twoChildTwoAnotherChild {
  width: 93%;
  padding: 20px;
  min-height: 230px;
  max-height: auto;
  display: flex;
  flex-wrap: wrap;
}

.desMain {
  display: flex;
  justify-content: space-around;
  width: 285px;
  padding-top: 20px;
}

.counting {
  width: 40px;
  height: 40px;
  background: #775da6;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.written {
  width: 206px;
  height: 120px;
  left: 114px;
  top: 619px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3e3639;
}

.barParents {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #f9f9f9;
}

.bar {
  margin-bottom: 50px;
}

.modalONE {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalONE-contentONE {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 66%;
  height: 554px;
  max-height: auto;
  overflow-y: auto;
  @include grid-md-down{
    width: 95%;
  }
}

.closeONE {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.modalTWO,
.modalTHREE {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalTWO-contentTWO,
.modalTHREE-contentTHREE {
  background-color: #fefefe;
  margin: 3% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 23%;
  min-height: 250px;
  max-height: auto;
  @include grid-md-down{
    width: 95%;
  }
}

.closeTWO,
.closeTHREE {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.firstModalImagesMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.modalonecontantimg {
  width: 84.56px;
  height: fit-content;
  padding: 15px;
  margin: 15px;
  cursor: pointer;
}

.modalonecontantimg img {
  width: 100%;
  object-fit: cover;
}

.modethowImagesMain,
.modethreeImagesMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modethowImagesMain div,
.modethreeImagesMain div {
  margin: 20px;
  padding: 20px;
}

.modethowImagesMain div img,
.modethreeImagesMain div img {
  cursor: pointer;
}

.oneChildTwo {
  overflow-x: scroll;
}

.mainforphotos {
  min-height: 100%;
  max-height: fit-content;
}

.btnz {
  padding: 20px;
}

.btnz button {
  padding: 15px;
  background-color: #50bd91;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  width: 150px;
  border-radius: 10px;
}

.rotate {
  transform: rotate(180deg);
}

.mainforphotos1child {
  margin-left: 50px;
}

.txtarea {
  height: 120px;
  border: none;
  outline: none;
  text-align: left !important;
  background-color: #f9f9f9;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #3e3639;
  display: block;
}

.txtarea::-webkit-scrollbar {
  display: none;
}

.journey-map-chart-container {
  position: relative;
  width: 1420px;

  #container {
    position: relative;

    #canvas{
      z-index: 1111111111;
    }
    &::after {
      content: "";
      position: absolute;
      top: 200px;
      left: 0;
      width: 100%;
      height: 100px;
      background-color: #E01E5A;
    }    
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #16AC84;
  }
  &::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(0deg, rgba(255, 171, 43, 0.08), rgba(255, 171, 43, 0.08)), linear-gradient(0deg, rgba(255, 171, 43, 0.08), rgba(255, 171, 43, 0.08)), rgba(255, 171, 43, 0.08);
  }
}